ion-searchbar {
  --icon-color: var(--ion-color-medium);
}

ion-content {
  --padding-top: 15px;

  ion-refresher {
    padding-top: calc(env(safe-area-inset-top) + 50px);
  }

  .info-row {
    background: #fff;
    position: sticky;
    top: calc(env(safe-area-inset-top) - 40px);
    z-index: 2;

    ion-col {
      display: flex;
      align-items: center;
    }
  }

  .sticky-row {
    position: sticky;
    top: calc(env(safe-area-inset-top) - 12px);
    z-index: 2;
    background: #fff;
    box-shadow: 0px 9px 11px -15px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  ion-slides {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    .featured-slide {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

.location-visible {
  opacity: 1;
  transition: 0.5s;
}

.location-hidden {
  opacity: 0;
  transition: 0.5s;
}
